#formCv{
    display: grid; place-items: center;
}
.container-form{
    
}

.group-title{
    color: var(--Naranja-Bluetab, #E05206);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.25rem */
    letter-spacing: -0.0165rem;

}
#formCv input, textarea{
    border-radius: 0.5rem;
    border: 1px solid var(--Gris-claro-Bluetab, #DAD7CB);
    background: var(--Blanco, #FFF);
    color: var(--Gris-Bluetab, #675C53);

    /* Cuerpo texto */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
    letter-spacing: -0.00963rem;
}

.group-large-input{
    display: flex;
    width: 44.5rem;
    height: 2.375rem;
    padding: 0.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
}

#summary{
    display: flex;
    width: 44.5rem;
    height: 7.125rem;
    padding: 0.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
}
section{
    margin: 1rem 0 1rem 0;
}

.group-main-inputs{
    margin: 0.6rem 0 0.6rem 0;
}

.container-date{
    display: flex;
    margin: 0;
}

.date{
    width: 21.369rem;
    height: 2.375rem;
    padding: 0.5rem;
    align-items: flex-start;
    flex-shrink: 0;
}

/* Establece un margen derecho en el primer input y un margen izquierdo en el segundo input */
.date:first-child {
    margin-right: 0.41rem; /* Ajusta el valor según tu preferencia de espacio */
}

  input[type="text"]{
    
}

.button-save{
    display: flex;
    width: 8.5625rem;
    height: 2.375rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 1.5rem;
    background: var(--Azul-claro-Bluetab, #6F9AD3);
}